@using Newtonsoft.Json;
@{
    var _order = (Greenspot.Stall.Models.Order)ViewBag.Order;
    Page.Title = "订单" + (_order != null ? string.Format("#{0}", _order.Id) : "不存在");
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Stall@Greenspot">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <base href="/">

    <link rel="shortcut icon" href="/static/img/favicon.png">

    <!-- 3rd party stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc4/angular-material.min.css">
    <!-- platform stylesheet -->

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <link rel="stylesheet/less" href="/Content/less/global.less">
        <link rel="stylesheet/less" href="/Content/less/customer.less">
    }
    else
    {
        <link rel="stylesheet" href="/Static/css/stall.min.css">
    }

</head>
<body>
    <md-content id="order-content">
        @if (_order == null)
        {
            <div>
                <h4>订单不存在</h4>
            </div>
        }
        else
        {
            <p>订单号: @_order.Id</p>
            <p>日期: @string.Format("{0:HH:mm ddMMM}", _order.CreateTime)</p>
            <p>商铺: @_order.Stall.StallName</p>
            <p>金额: @_order.ChargeAmount.ToString("$0.00")</p>
            <table class="order-list">
                <thead>
                    <tr>
                        <td>品名</td>
                        <td>单价</td>
                        <td>数量</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in _order.Items)
                    {
                        <tr>
                            <td>@p.Name</td>
                            <td>@p.Price.Value.ToString("$0.00")</td>
                            <td>@p.Quantity</td>
                        </tr>
                    }
                    @if (_order.PlatformDelivery > 0)
                    {
                        <tr>
                            <td>运费</td>
                            <td>@_order.PlatformDelivery.ToString("$0.00")</td>
                            <td>1</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </md-content>

    <!-- 3rd party libraries -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-aria.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-messages.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc4/angular-material.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.2/js.cookie.min.js"></script>

    <!-- owner scripts -->
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script type="text/javascript" src="/Static/lib/less/dist/less.min.js"></script>
        <script type="text/javascript" src="/Content/middle-js/app.js"></script>
        <script type="text/javascript" src="/Content/middle-js/controller/customer.controller.js"></script>
    }
    else
    {
        <script type="text/javascript" src="/Static/js/stall.min.js"></script>
    }
</body>
</html>