@{
    var _product = (Greenspot.Stall.Models.Product)ViewBag.Product;
    Page.Title = _product?.BaseName ?? "商品不存在";
}
<!DOCTYPE html>

<html lang="en" ng-app="greenspotStall" ng-cloak>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Stall@Greenspot">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <base href="/">
    <title>@Page.Title</title>

    <link rel="shortcut icon" href="/static/img/favicon.png">

    <!-- 3rd party stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc4/angular-material.min.css">
    <!-- platform stylesheet -->

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <link rel="stylesheet/less" href="/Content/less/global.less">
        <link rel="stylesheet/less" href="/Content/less/product.less">
    }
    else
    {
        <link rel="stylesheet" href="/Static/css/stall.min.css">
    }
</head>
<body ng-controller="CustomerController as custCtrl" ng-init="custCtrl.init()">
    @if (_product != null)
    {
        <md-content id="detail-content">
            <img ng-src="@_product.ImageLarge" class="md-card-image" alt="Washed Out">
            <div class="text-info">
                <div class="text-name">
                    @_product.BaseName
                </div>
                <div class="text-price">
                    @string.Format("{0:$0.00}", _product.PriceIncTax)
                </div>
                <div class="text-description">
                    <text>
                        @Html.Raw(_product.Description)
                    </text>
                </div>
                @if (_product.TrackInventory ?? false)
                {
                    <div>
                        <text>
                            库存: @_product.Stock
                        </text>
                    </div>
                }
            </div>
        </md-content>

        <div id="bottom-toolbar" layout="row">
            <md-button class="btn-cart" flex="10" aria-label="Cart" ng-click="gotoUrl('/customer/cart')">
                <span class="cart-amount" ng-if="custCtrl.cart.qty>0">{{custCtrl.cart.qty}}</span>
                <md-icon class="cart-icon" md-svg-icon="cart"></md-icon>
            </md-button>
            <button flex="60" class="btn btn-accent"
                    ng-click="custCtrl.cart.add({stallId:'@_product.StallId', stallName:'@_product.Stall.StallName',
                       id:'@_product.Id',price:@_product.PriceIncTax,
                       name:'@_product.BaseName',variant:'@_product.VariantDescription'},1)">
                加入购物车
            </button>
            <button flex="60" class="btn btn-primary" ng-click="gotoUrl('/customer/cart')">结账</button>
        </div>
    }
    <!-- 3rd party libraries -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-aria.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-messages.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc4/angular-material.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.2/js.cookie.min.js"></script>

    <!-- owner scripts -->
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script type="text/javascript" src="/Static/lib/less/dist/less.min.js"></script>
        <script type="text/javascript" src="/Content/middle-js/app.js"></script>
        <script type="text/javascript" src="~/Content/middle-js/cart.js"></script>
        <script type="text/javascript" src="/Content/middle-js/controller/customer.controller.js"></script>
    }
    else
    {
        <script type="text/javascript" src="/Static/js/stall.min.js"></script>
    }
</body>
</html>